@charset "UTF-8";
@font-face {
    font-family: 'cordel';
    src: url('../fontes/Cordel Encarnado II.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pow';
    src: url('../fontes/POWDRFT_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* CONFIGURAÇÕES GERAIS */

:root {
    /* coleção de fontes */
    --fonte1: 'cordel', cursive;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: 'pow', serif;
}

* { /* resetando margin e padding de todos os elementos */
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh; /* 100% altura viewport */
    background-color: darkgray;
    font-family: var(--fonte2);
}

/* LINKS */

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/* HEADER */

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /* funciona como um mix de uppercase e capitalize */
    font-family: var(--fonte1);
    font-size: 8vw;
    font-weight: normal;
}

header > p {
    padding-bottom: 50px;
}

/* SECTION */

section {
    padding-top: 10vh; /* 10% altura viewport */
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
    line-height: 1.6em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
    padding-bottom: 4vh;
}

section.imagem {
    background-color: rgb(59, 58, 58);
    color: white;
    padding-bottom: 10vh;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.55);
    background-image: url('../imagens/rm303-set-au-01a.jpg');
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 0 black;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}